@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    background-color: var(--bgColor);
    font-family: 'Urbanist', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--contColor);
    height: 1600px;
}

.brand{
    padding: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo{
    width: 60px;
    height: 60px;
    background-color: var(--black);
}

.search{
    background-color: var(--cardColor);
    width: 2500px;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    gap: 10px;
}

#searchBar{
    margin: 20px;
    border: none;
    padding: 25px;
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
}

input:focus{
    outline-style: none;
}

.add{
    background-color: var(--black);
    text-align: center;
    line-height: 5;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.add svg{
    color: var(--cardColor) !important;
}

.task-card{
    padding: 50px 200px;
    width: 90%;
}

.menus{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.task{
    border-bottom: 7px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.task::after{
    /* line-height: 2; */
    text-align: center;
    color: var(--cardColor);
    content: "6";
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--blue);
    padding: 5px;
    margin: 10px;
    
}

.notif{
    color: var(--textColor);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.notif:hover{
    color: var(--black);
}

.notif:hover::after{
    background-color: var(--blue);
}

.notif::after{
    /* line-height: 2; */
    text-align: center;
    color: var(--cardColor);
    content: "12";
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--textColor);
    padding: 5px;
    margin: 10px;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.card{
    border-radius: 20px;
    padding: 30px;
    width: 550px;
    background-color: var(--cardColor);
    cursor: pointer;
    transition: all 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.card:hover{
    scale: .9;
    background-color: var(--blueLight);
}

.card .title{
    font-size: 1.8rem;
}

.imgDiv{
    margin-bottom: 20px;
}

.imgDiv img{
    width: 45px;
}

.taskDates{
    margin: 8px auto;
}

.dates, .start, .end{
    display: flex;
    align-items: center;
    gap: 50px;
}

.start h1, .end h1{
    font-size: 1.5rem;
    font-weight: 500;
}

.start, .end{
    gap: 10px;
    margin-top: 12px;
}

.progressBg{
    width: 100%;
    height: 10px;
    border-radius: 20px;
    background-color: var(--progress);
    margin: 15px auto;
}

.progress{
    width: 20%;
    height: 10px;
    border-radius: 20px;
    background-color: var(--green);
}

.textDiv h2{
    font-size: 1.2rem;
}

.lastUpdate{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.lastUpdated{
    color: var(--textColor);
    font-weight: 500;
}

.profileDiv{
    display: flex;
    align-items: center;
}

.profileDiv img{
    width: 50px;
    border-radius: 50px;
    border: 5px solid var(--cardColor);
    margin-right: -12px;
}

.profileDiv .more{
    background-color: var(--progress);
    width: 50px;
    height: 50px;
    line-height: 2.5;
    text-align: center;
    border-radius: 50px;
    border: 5px solid var(--cardColor);
}


.completed{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--green);
    background-color: var(--lightGreen);
    width: 150px;
    padding: 8px 17px;
    border-radius: 40px;
}

.completed h1{
    font-size: 1.1rem;
}

:root{
    --bgColor: #eff1f2ff;
    --cardColor: #ffffff;
    --contColor: #faf9fb;
    --progress: #ececed;
    --textColor: #bababa;
    --green: #019939ff;
    --lightGreen: #c1f4d4;
    --blue: #1964ff;
    --blueLight: #c5d8ff;
    --black: #000;
}