@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgcolor);
}

.container{
    padding: 20px;
    border-radius: 20px;
    background-color: var(--contColor);
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
}

.heading h1{
    font-size: 1.3rem;
}

.details{
    background-color: var(--inputColor);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 100%;
}

.details.sendTo{
    margin-top: -5px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text h2{
    font-size: .8rem;
    color: var(--bgcolor);
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px auto;
    position: relative;
}

.coin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--contColor);
    padding: 8px 12px;
    border-radius: 30px;
    border: 1px solid var(--borderColor);
    cursor: pointer;
}

.coin:hover{
    background-color: var(--borderColor);
    color: var(--textColor);
}

.coin-modal{
    position: absolute;
    top: 60px;
    right: -5px;
    z-index: 1;
    background-color: var(--contColor);
    border-radius: 10px;
    border: 1px solid var(--borderColor);
    padding: 7px;
    /* visibility: hidden; */
    opacity: 0;
    width: 135px;
}

.active{
    opacity: 100;
    transition: all 0.5s ease;
}

.coin-modal ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    gap: 5px;
    cursor: pointer;
}

.coin-modal ul li p{
    font-size: .9rem;
}

.coin-modal ul li img{
    width: 25px;
}

.coin-modal ul li:hover{
    background-color: var(--borderColor);
    border-radius: 10px;
}

.coin-modal ul{
    display: flex;
    flex-direction: column;
}

.coin p{
    font-weight: 600;
}

.input input{
    font-size: 1.5rem;
    padding: 15px 10px;
    color: var(--textColor);
    width: 250px;
    background-color: transparent;
    font-weight: 700;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus{
    outline: none;
}


input[type="number"]{
    font-family: 'JetBrains Mono', monospace;
}

.coinConvertion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.convert{
    background-color: var(--contColor);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.slippagetol h2{
    font-size: 1rem;
}

.slippages{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin: 12px auto;
}

.defaults, .custom{
    background-color: var(--inputColor);
    border-radius: 50px;
    padding: 10px 15px;
    outline: 2px solid var(--borderColor);
    cursor: pointer;
    gap: 10px;
    color: var(--bgcolor);
}

.defaults h2, .custom p{
    font-family: 'JetBrains Mono', monospace;

}

.custom{
    display: flex;
}

.custom input{
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
}


.defaults:hover{
    background-color: var(--bgcolor);
    outline: none;
    color: var(--contColor);
}

.btn{
    width: 100%;
    margin: 12px auto;
    padding: 18px;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--buttonColor);
    border-radius: 50px;
    color: var(--contColor);
    cursor: pointer;
}

:root{
    --bgcolor: #a0aec0;
    --contColor: #ffffff;
    --inputColor: #f7fafc;
    --buttonColor: #10172a;
    --borderColor: #d7dfe8;
    --textColor: #607189;
}