@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 2.5px solid var(--borderColor);
    width: 550px;
    padding: 35px;
    border-radius: 20px;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time, .history{
    display: flex;
    align-items: center;
    gap: 15px;
}

.time h1, .history h1, .timerDiv h1{
    font-size: 1.3rem;
    font-weight: 600;
}

.history{
    border: var(--border);
    padding: 12px 15px ;
    border-radius: 20px;
}

/* Timer */
.timerDiv{
    margin-top: 35px;
    border: var(--border);
    border-radius: 20px;
}

.countDown p{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--textSubtleColor);
}

.timeContent{
    padding: 5px 10px 20px;
}

.countDown{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.countDown .count h1{
    font-size: 3.5rem;
    font-weight: 700;
    margin-top: -15px;
}

.secs{
    color: var(--textSubtleColor);
}

.title{
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0px 0px ;
    background-color: var(--subtleColor);
    padding: 10px 0;
    border-bottom: var(--border);
}

.startCount{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--purple);
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.startCount:hover{
    background-color: var(--purple);
    color: var(--white);
    padding: 10px 15px;
}

/* Footer */
.footerContent{
    margin-top: 25px;
    position: relative;
}

.footerContent h1{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--textSubtleColor);
}

.brands{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loom{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.name h1{
    font-size: 1.4rem;
    text-transform: none;
    color: var(--black);
}

.brandDetails{
    display: flex;
    gap: 20px;
    
}

.loom img{
    border-radius: 50px;
}

.moreModal{
    padding: 15px;
    width: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    position: absolute;
    background-color: var(--white);
    top: -10px;
    right: 35px;
    display: none;
}

.moreModal h1{
    font-size: 1rem;
    text-transform: none;
}

.edit, .delete{
    display: flex;
    gap: 20px;
    padding: 15px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.edit:hover h1{
    color: var(--black);
}

.delete:hover h1{
    color: var(--white);
}

.edit:hover{
    background-color: var(--subtleColor);
    transform: translateX(5px);
}

.delete:hover{
    color: var(--white);
    background-color: #e63946;
    transform: translateX(8px);
}

.vertical{
    cursor: pointer;
}

.vertical:hover .moreModal{
    display: block;
}


:root{
    --borderColor: #e5e4e7ff;
    --subtleColor: #f7f8fa;
    --textSubtleColor: #868c98;
    --purple: #6f40eeff;
    --white: #fff;
    --black: #000;

    --border: 2.5px solid var(--borderColor);
}